
.navbar-lightr {
    opacity: 0.9;
}

.parallax {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /*efecto parrallax*/
}

#inicio {
    background-image: url("images/Fortnite-season-5-750x430.jpg");
    height: 550px;
}
#pie {
    background-image: url("images/Fortnite-season-5-750x430.jpg");
    height: 300px;
}