
.navbar-lightr {
    opacity: 0.9;
}

.parallax {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /*efecto parrallax*/
}

#inicio {
    background-image: url("images/BR05_Social_Battle-Pass-Launch-1920x1080-42eba34b1005a430767fc7fb9bab11f4d20fbdca.jpg");
    height: 400px;
}
#pie {
    background-image: url("images/BR05_Social_Battle-Pass-Launch-1920x1080-42eba34b1005a430767fc7fb9bab11f4d20fbdca.jpg");
    height: 300px;
}